<h1><%= SITE_NAME %></h1>

<p>
 With <%= SITE_NAME %>, you can easily create and manipulate database applications.
</p>

<div class="container">
  <div class="huge buttons">
    <% form_for 'database' do |f| %>
      f.submit, 'Create new blank DB', html: { class: 'huge' }
    <% end %>
    <%= link_to('Open existing DB', '', class: 'huge') %>
    <!-- <%= link_to('Create new DB from template', '', class: 'huge') %> -->
  </div>
</div>
