h1 Editing database

== render 'form'

<table id="example">
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>etc</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
            <td>etc</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
            <td>etc</td>
        </tr>
    </tbody>
</table>

= link_to 'Show', @database
'|
= link_to 'Back', databases_path

<div id="dialog-form" title="Modify Database Column">
  <form>
  <fieldset>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />
    </br>
    <label for="type">Type</label>
    <input type="text" name="type" id="type" class="text ui-widget-content ui-corner-all" />
  </fieldset>
  </form>
</div>
