.database .details {
  border-bottom: solid black 2px;
}

.database .tables {
  margin-top: 10px;
}

.database .tables ul {
  float: left;
  list-style-type: none;
  padding: 5px;
  margin: 10px;
}

.database .tables table, .database .tables table th, .database .tables table td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 3px;
}

.database .tables table td {
  height: 1em;
  min-width: 5em;
}

.dataTables_wrapper {
  display: inline-block;
}
